.sidebar {
  width: 240px;
  min-height: calc(100vh - 70px);
  background: white;
  padding: 25px;
  border-right: 1px solid #e5e7eb;
}

.sidebar h2 {
  margin-bottom: 25px;
}

.sidebar ul {
  list-style: none;
}

.sidebar li {
  margin-bottom: 18px;
  padding: 10px;
  border-radius: 8px;
  cursor: pointer;
  transition: 0.3s;
}

.sidebar li:hover {
  background: #2563eb;
  color: white;
}